<% content_for :title, "Posts" %>

<% if notice %>
  <div class="alert alert-notice">
    <%= notice %>
  </div>
<% end %>

<div class="card">
  <div class="card-header">
    <h1>Posts</h1>
  </div>
  <div class="card-body">
    <div class="posts-grid" id="posts">
      <% @posts.each do |post| %>
        <div class="card post-card">
          <div class="card-body">
            <h3 class="post-title">
              <%= link_to post.title, post, class: "text-decoration-none" %>
            </h3>
            <p class="post-excerpt">
              <%= truncate(post.body, length: 150) %>
            </p>
            <div class="post-meta">
              <span><%= time_ago_in_words(post.created_at) %> ago</span>
              <span><%= link_to "Read more", post, class: "link-btn" %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="card-footer">
      <%= link_to "New post", new_post_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
